
doctype html
head
    title Smacss
    link(rel='stylesheet', href='./style/index.css')
header#header
    ul.nav
        li.nav--item Home
        li.nav--item Blog
        li.nav--item Products
        li.nav--search
            input(type='search')
main#main.card
    h2.card--head Lorem ipsum
    p.card--copy
    ul.card--tag.tag
        li.tags--tag ipsum
        li.tags--tag lorem
footer#footer
